*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsla(278, 76%, 55%, 0.74);
    font-family: 'Courier New', Courier, sans-serif;
}
.wrapper{
    background-color: #fff;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.wrapper h2{
    background-color: aliceblue;
    color: hsla(278, 76%, 55%, 0.74);
    font-size: 25px;
    padding: 10px;
    margin-bottom: 8px;
    text-align: center;
    border: 1px dashed hsla(278, 76%, 55%, 0.74);
}
.wrapper h4{
    padding-bottom: 5px;
    color: hsla(278, 76%, 55%, 0.74);
}
.input_group{
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}
.input_box{
    width: 100%;
    margin-right: 15px;
    position: relative;
}
.input_box:last-child{
    margin-left: 0;
}
.input_box .name{
    padding: 15px 10px 15px 50px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #0003;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}
.input_box .name:focus, .dob:focus{
    -webkit-box-shadow: 0 0 2px 1px hsla(278, 76%, 55%, 0.74);
    -moz-box-shadow: 0 0 2px 1px hsla(278, 76%, 55%, 0.74);
    box-shadow: 0 0 2px 1px hsla(278, 76%, 55%, 0.74);
    border: 1px solid hsla(278, 76%, 55%, 0.74);
}
.input_box .icon{
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid #333;
    border-right: none;
}
.none:focus+.icon{
    background-color: hsla(278, 76%, 55%, 0.74);
    color: #fff;
    border: 1px solid hsla(278, 76%, 55%, 0.74);
    border: none;
    transition: 1s;
}
.dob {
    width: 30%;
    padding: 14px;
    text-align: center;
    background-color: #fcfcfc;
    transition: 0.3s;
    outline: none;
    border: 1px solid #c0bfbf;
    border-radius: 3px;
}

.radio {
    display: none;
}

.input_box label {
    width: 50%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline;
    float: left;
    text-align: center;
    border: 1px solid #c0bfbf;
}

.input_box label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: none;
}

.input_box label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.radio:checked+label {
    background-color: hsla(278, 76%, 55%, 0.74);
    color: #fff;
    transition: 0.5s;
}

.input_box button {
    width: 100%;
    background-color: hsla(278, 76%, 55%, 0.74);
    border: none;
    color: #fff;
    padding: 15px;
    border-right: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 8px;
}

.input_box button:hover {
    cursor: pointer;
    background-color: hsla(278, 76%, 55%, 0.74);
}
.exist{
    position: fixed;
    right: 26rem;
    top: 13px;
    font-size: 2rem;
    cursor: pointer;
}
/* SCROLL BAR */
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(80,5%,10%);
}
::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: hsl(80,5%,20%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(80,5%,30%);
}
@media (max-width: 768px) {
    .wrapper {
        width: 90%;
        padding: 15px;
    }

    .input_box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .input_box label {
        width: 100%;
    }
    .exist{
        display: none;
    }
}
